@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic");
@import url("https://fonts.googleapis.com/css?family=Agbalumo:regular");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Baskervville:regular,italic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic");
body {
  /* background-color: #333; */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(3, 3, 3, 0.1);
  color: rgba(168, 51, 51, 0.76);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-family: "Ubuntu";
  font-weight: 900;
  transition: all ease-in-out 0.4s;
}
.logo:hover {
  color: rgb(24, 190, 65);
  opacity: 0.8;
}

.menu a {
  color: rgb(8, 0, 0);
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  font-family: "Open Sans";
}
.container {
  box-sizing: border-box;
  margin-left: 4rem;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.home-intro {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: "Agbalumo";
  font-size: 3rem;
  color: rgba(5, 10, 51, 0.767);
  transition: all ease-in-out 0.5s;
}
.title:hover {
  scale: 1.3;
}

.tag-line {
  font-weight: bold;
  color: rgb(8, 0, 0);
  font-family: "Ubuntu";
  color: rgba(168, 51, 51, 0.76);
  font-size: 25px;
}
.description {
  line-height: 1.3rem;
  font-family: "Baskervville";
  font-weight: bold;
  color: #634c4c;
}
img {
  max-width: 100%;
  height: auto;
}
.carousel-slide {
  display: none;
  align-items: center;
  overflow: hidden;
  transition: all ease 0.3s;
}
.carousel-slide:hover {
  scale: 0.9;
}

.carousel-slide.active {
  display: block;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3 {
  color: #8d2e2e;
}

.pricing {
  background-color: #f2f2f2;
  padding: 2rem;
  text-align: center;
}
h2 {
  font-family: "Ubuntu";
}
.pricing-plan {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.carousel {
  position: relative;
  width: 60vw;
  height: auto;

  /* max-width: 1200px; */
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.carousel-indicators {
  text-align: center;
  margin-top: 20px;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
}

.indicator.active {
  background-color: #333;
}
.purchase-btn {
  color: #f2f2f2;
  font-size: 2rem;
  background-color: rgb(8, 8, 8);
  border-radius: 10px;
  font-family: "Ubuntu";
}
.price {
  color: rgb(25, 122, 25);
  font-weight: bold;
}
.purchase-btn:hover {
  color: rgb(19, 18, 18);
  font-size: 2rem;
  background-color: rgb(237, 241, 233);
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

/* for contact page */
.contact-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #555;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
